
ontology-mapping-generator/target/test-classes/.netbeans_automatic_build
ontology-mapping-generator/target/classes/.netbeans_automatic_build
ontology-mapping-generator/target/classes/jar/App.class
ontology-mapping-generator/target/classes/jar/DB.class
ontology-mapping-generator/target/classes/jar/Launcher$1.class
ontology-mapping-generator/target/classes/jar/Launcher.class
ontology-mapping-generator/target/classes/jar/Mapper.class
ontology-mapping-generator/target/classes/jar/Mapping.class
ontology-mapping-generator/target/classes/jar/MappingAgent.class
ontology-mapping-generator/target/classes/jar/Match.class
ontology-mapping-generator/target/classes/jar/Ontology.class
ontology-mapping-generator/target/classes/jar/OntologyTerm.class
ontology-mapping-generator/target/classes/jar/SymLink.class
ontology-mapping-generator/target/maven-archiver/pom.properties
ontology-mapping-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
ontology-mapping-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ontology-mapping-generator/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
ontology-mapping-generator/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
ontology-mapping-generator/target/ontology-mapping-generator-1.jar
ontology-mapping-generator/target/surefire-reports/jar.AppTest.txt
ontology-mapping-generator/target/surefire-reports/TEST-jar.AppTest.xml
ontology-mapping-generator/target/test-classes/jar/AppTest.class
ontology-mapping-generator/output*
*.prefs
.vscode/settings.json
